
<h1>Health O Meter</h1>
<h2><%= healthy? ?  "OK" : "FAIL" %></h2>

<table border="1" width="90%">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Result</th>
    <th>Time (s)</th>
    <th>Description</th>
  </tr>
  <% monitored_features.each do |name, options| %>
  <tr>
    <td style="background-color:<%= status_color( name )%>">
      <%= h status_text( name ) %>
    </td>
    <td><%= h name.to_s.titleize %></td>
    <td><%= monitored_message( name ) %></td>
    <td><%= monitored_timing( name ) %></td>
    <td><%= monitored_description( name ) %></td>
  </tr>
  <% end %>
</table>

<br>
<b>Total: </b><%= total_time %> <br>
<b>PID: </b><%= $$ %><br>
<b>host: </b><%= request.host %>